/* -------------------------------------------
 * hero
 */

.hero{
	width: 100%;
	// height: 644px;
	padding-bottom: 50px;
	position: relative;
	
	&Video{
		width: 100%;
		height: 100%;
		object-fit:cover; 
		position: absolute;
    z-index: -1;
	}

	&__txtBox{
		padding:177px 0;
		color: #fff;

		.txtBox__subtitle{
		font-size: 48px;
    line-height: 62px;
    color: #fff;
    margin-bottom: 15px;

		&2{
		font-size: 35px;
		margin-bottom: 37px;

		}
			
		}

		.txtBox__title{
		margin-bottom: 17px;
		font-size:17px;
		line-height: 26px;
		}
	}
}