/* -------------------------------------------
 * philosophy
 */

.philosophy{
	margin-bottom: 163px;
	padding: 87px 95px 77px;
	text-align: center;
	background:url(../img/lead-bg-top.jpg) no-repeat center center;
	background-size: cover;

	&__txtBox{
		padding: 62px 0 39px;
		

		.txtBox__title{
			margin-bottom: 20px;
			font-size: 28px;
		}

		.txtBox__txt{
			line-height: 28px;
    	font-size: 14px;
		}
	}

}